.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow:
    0 1px 6px 0 rgba(17, 17, 22, 0.16),
    0 1px 1px 0 rgba(17, 17, 22, 0.16),
    0 2px 1px 0 rgba(17, 17, 22, 0.16);
}
.img {
  flex-grow: 1;
  object-fit: cover;
}
.descr {
  padding: 10px;
  height: 88px;
}
.title {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .item {
    width: calc((100% - 40px) / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .item {
    width: calc((100% - 100px) / 6);
  }
}
